.navbar {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-list li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    /* 相对定位 */
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list li a {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-list li a:hover {
    color: #007aff;
}

/* 下拉菜单样式 */
.dropdown-menu {
    display: none;
    /* 默认隐藏 */
    position: absolute;
    /* 绝对定位 */
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    /* 提升层级 */
    text-align: left;
    /* 左对齐 */
}

.dropdown-menu li {
    width: 200px;
    /* 下拉菜单宽度 */
}

.dropdown:hover .dropdown-menu {
    display: block;
    /* 鼠标悬停时显示 */
}